<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">


    <!--================= Admin  =======================-->

    <filter>
        <filter-name>adminAuthFilter</filter-name>
        <filter-class>kz.bgm.platform.web.admin.AuthFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>adminAuthFilter</filter-name>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>


    <servlet>
        <servlet-name>adminLoginServlet</servlet-name>
        <servlet-class>kz.bgm.platform.web.admin.action.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminLogout</servlet-name>
        <servlet-class>kz.bgm.platform.web.admin.action.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminDispatcherServlet</servlet-name>
        <servlet-class>kz.bgm.platform.web.admin.DispatcherServlet</servlet-class>
    </servlet>


    <servlet>
        <servlet-name>adminSearchServlet</servlet-name>
        <servlet-class>kz.bgm.platform.web.admin.action.SearchServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>adminSearchServletJson</servlet-name>
        <servlet-class>kz.bgm.platform.web.admin.api.JsonSearchServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>adminUploadReportMobileServet</servlet-name>
        <servlet-class>kz.bgm.platform.web.admin.action.UploadReportMobileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminUploadReportPublicServlet</servlet-name>
        <servlet-class>kz.bgm.platform.web.admin.action.UploadReportPublicServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminProcessReportServlet</servlet-name>
        <servlet-class>kz.bgm.platform.web.admin.action.LoadMobileReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminLoadPublicReport</servlet-name>
        <servlet-class>kz.bgm.platform.web.admin.action.LoadPublicReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createUserServlet</servlet-name>
        <servlet-class>kz.bgm.platform.web.admin.action.CreateUserServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>deleteUserServlet</servlet-name>
        <servlet-class>kz.bgm.platform.web.admin.action.DeleteUserServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>deleteUserServlet</servlet-name>
        <url-pattern>/action/delete-user</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>adminSearchServletJson</servlet-name>
        <url-pattern>/admin/api/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminSearchServlet</servlet-name>
        <url-pattern>/admin/action/search</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>adminLoginServlet</servlet-name>
        <url-pattern>/admin-logon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminLogout</servlet-name>
        <url-pattern>/admin/action/logout</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>adminDispatcherServlet</servlet-name>
        <url-pattern>/admin/view/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>adminUploadReportMobileServet</servlet-name>
        <url-pattern>/admin/action/upload-mobile-report</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminUploadReportPublicServlet</servlet-name>
        <url-pattern>/admin/action/upload-public-report</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminProcessReportServlet</servlet-name>
        <url-pattern>/admin/action/load-mobile-reports</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>adminLoadPublicReport</servlet-name>
        <url-pattern>/admin/action/load-public-reports</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>createUserServlet</servlet-name>
        <url-pattern>/admin/action/create-user</url-pattern>
    </servlet-mapping>


    <!--================= Customer =======================-->

    <filter>
        <filter-name>customerAuthFilter</filter-name>
        <filter-class>kz.bgm.platform.web.customer.AuthFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>customerAuthFilter</filter-name>
        <url-pattern>/customer/*</url-pattern>
    </filter-mapping>


    <servlet>
        <servlet-name>customerLoginServlet</servlet-name>
        <servlet-class>kz.bgm.platform.web.customer.action.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>customerDispatcher</servlet-name>
        <servlet-class>kz.bgm.platform.web.customer.DispatcherServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchServlet</servlet-name>
        <servlet-class>kz.bgm.platform.web.customer.action.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uploadReportMobileServlet</servlet-name>
        <servlet-class>kz.bgm.platform.web.customer.action.UploadReportMobileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>customerLogoutServlet</servlet-name>
        <servlet-class>kz.bgm.platform.web.customer.action.LogoutServlet</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>customerLoginServlet</servlet-name>
        <url-pattern>/customer-logon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>customerDispatcher</servlet-name>
        <url-pattern>/customer/view/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchServlet</servlet-name>
        <url-pattern>/customer/action/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadReportMobileServlet</servlet-name>
        <url-pattern>/customer/action/upload-mobile-report</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>customerLogoutServlet</servlet-name>
        <url-pattern>/customer/action/logout</url-pattern>
    </servlet-mapping>


</web-app>
