<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
    <filter>
        <filter-name>loginFilter</filter-name>
        <filter-class>kz.bgm.platform.web.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>loginFilter</filter-name>
        <url-pattern>/reports.html</url-pattern>
        <url-pattern>/search.html</url-pattern>
    </filter-mapping>

    
    

    <servlet>
        <servlet-name>searchServletJson</servlet-name>
        <servlet-class>kz.bgm.platform.web.api.JsonSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchServlet</servlet-name>
        <servlet-class>kz.bgm.platform.web.action.SearchTrackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uploadReportMobileServet</servlet-name>
        <servlet-class>kz.bgm.platform.web.action.UploadReportMobileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uploadReportPublicServlet</servlet-name>
        <servlet-class>kz.bgm.platform.web.action.UploadReportPublicServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>processReportServlet</servlet-name>
        <servlet-class>kz.bgm.platform.web.action.ProcessReportServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>kz.bgm.platform.web.action.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dispatcherServlet</servlet-name>
        <servlet-class>kz.bgm.platform.web.DispatcherServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>exitServlet</servlet-name>
        <servlet-class>kz.bgm.platform.web.action.ExitServlet</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>searchServletJson</servlet-name>
        <url-pattern>/api/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchServlet</servlet-name>
        <url-pattern>/action/search</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>uploadReportMobileServet</servlet-name>
        <url-pattern>/action/upload-mobile-report</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadReportPublicServlet</servlet-name>
        <url-pattern>/action/upload-public-report</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>processReportServlet</servlet-name>
        <url-pattern>/report-calculator</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/authorize</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>dispatcherServlet</servlet-name>
        <url-pattern>/view/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>exitServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>


</web-app>
