<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">


    <!--================= Admin  =======================-->


    <env-entry>
        <env-entry-name>tp_csv_path</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>C:/tmp/</env-entry-value>
    </env-entry>

    <env-entry>
        <env-entry-name>csv_path</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>./data</env-entry-value>
    </env-entry>

    <env-entry>
        <env-entry-name>csv_ext</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>.csv</env-entry-value>
    </env-entry>


    <filter>
        <filter-name>adminAuthFilter</filter-name>
        <filter-class>kz.bgm.platform.web.admin.AuthFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>adminAuthFilter</filter-name>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>




    <servlet>
        <servlet-name>adminLoginServlet</servlet-name>
        <servlet-class>kz.bgm.platform.web.admin.action.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminLogout</servlet-name>
        <servlet-class>kz.bgm.platform.web.admin.action.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminDispatcherServlet</servlet-name>
        <servlet-class>kz.bgm.platform.web.admin.DispatcherServlet</servlet-class>
    </servlet>





    <servlet>
        <servlet-name>adminSearchServlet</servlet-name>
        <servlet-class>kz.bgm.platform.web.admin.action.SearchServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>adminSearchServletJson</servlet-name>
        <servlet-class>kz.bgm.platform.web.admin.api.JsonSearchServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>adminUploadReportMobileServlet</servlet-name>
        <servlet-class>kz.bgm.platform.web.admin.action.UploadReportMobileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminUploadReportPublicServlet</servlet-name>
        <servlet-class>kz.bgm.platform.web.admin.action.UploadReportPublicServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminProcessReportServlet</servlet-name>
        <servlet-class>kz.bgm.platform.web.admin.action.DownloadReportMobileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminLoadPublicReport</servlet-name>
        <servlet-class>kz.bgm.platform.web.admin.action.DownloadReportPublicServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createUserServlet</servlet-name>
        <servlet-class>kz.bgm.platform.web.admin.action.CreateUserServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>deleteUserServlet</servlet-name>
        <servlet-class>kz.bgm.platform.web.admin.action.DeleteUserServlet</servlet-class>
    </servlet>


    <servlet>
        <servlet-name>createCustomerServlet</servlet-name>
        <servlet-class>kz.bgm.platform.web.admin.action.CreateCustomerServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>updateCatalog</servlet-name>
        <servlet-class>kz.bgm.platform.web.admin.action.UpdateCatalogServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>applyUpdateCatalog</servlet-name>
        <servlet-class>kz.bgm.platform.web.admin.action.ApplyUpdateServlet</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>adminLoginServlet</servlet-name>
        <url-pattern>/admin-logon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminLogout</servlet-name>
        <url-pattern>/admin/action/logout</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>adminDispatcherServlet</servlet-name>
        <url-pattern>/admin/view/*</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>deleteUserServlet</servlet-name>
        <url-pattern>/admin/action/delete-user</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>adminSearchServletJson</servlet-name>
        <url-pattern>/admin/api/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminSearchServlet</servlet-name>
        <url-pattern>/admin/action/search</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>adminUploadReportMobileServlet</servlet-name>
        <url-pattern>/admin/action/upload-mobile-report</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminUploadReportPublicServlet</servlet-name>
        <url-pattern>/admin/action/upload-public-report</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminProcessReportServlet</servlet-name>
        <url-pattern>/admin/action/load-mobile-reports</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>adminLoadPublicReport</servlet-name>
        <url-pattern>/admin/action/load-public-reports</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>createUserServlet</servlet-name>
        <url-pattern>/admin/action/create-user</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>createCustomerServlet</servlet-name>
        <url-pattern>/admin/action/create-customer</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>updateCatalog</servlet-name>
        <url-pattern>/admin/action/update-catalog</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>applyUpdateCatalog</servlet-name>
        <url-pattern>/admin/action/apply-catalog-update</url-pattern>
    </servlet-mapping>




    <!--================= Customer =======================-->





    <filter>
        <filter-name>customerAuthFilter</filter-name>
        <filter-class>kz.bgm.platform.web.customer.AuthFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>customerAuthFilter</filter-name>
        <url-pattern>/customer/*</url-pattern>
    </filter-mapping>


    <servlet>
        <servlet-name>customerLoginServlet</servlet-name>
        <servlet-class>kz.bgm.platform.web.customer.action.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>customerDispatcher</servlet-name>
        <servlet-class>kz.bgm.platform.web.customer.DispatcherServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchServlet</servlet-name>
        <servlet-class>kz.bgm.platform.web.customer.action.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uploadReportServlet</servlet-name>
        <servlet-class>kz.bgm.platform.web.customer.action.UploadReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>customerLogoutServlet</servlet-name>
        <servlet-class>kz.bgm.platform.web.customer.action.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteCustomerServlet</servlet-name>
        <servlet-class>kz.bgm.platform.web.admin.action.DeleteCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>putToBasketServlet</servlet-name>
        <servlet-class>kz.bgm.platform.web.customer.action.AddTrackToBasketServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>removeFromBasket</servlet-name>
        <servlet-class>kz.bgm.platform.web.customer.action.RemoveFromBasketServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>removeFromReport</servlet-name>
        <servlet-class>kz.bgm.platform.web.customer.action.RemoveFromReportServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>downloadBasketReportServlet</servlet-name>
        <servlet-class>kz.bgm.platform.web.customer.action.DownloadBasketReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>jsonRemoveFromReportServlet</servlet-name>
        <servlet-class>kz.bgm.platform.web.customer.api.JsonRemoveFromReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>acceptReportServlet</servlet-name>
        <servlet-class>kz.bgm.platform.web.customer.action.AcceptReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>activityServlet</servlet-name>
        <servlet-class>kz.bgm.platform.web.admin.action.DBActivityServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editTrackServlet</servlet-name>
        <servlet-class>kz.bgm.platform.web.admin.action.EditTrackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>catalogIdServlet</servlet-name>
        <servlet-class>kz.bgm.platform.web.admin.action.GetTempCompCountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uploadReports</servlet-name>
        <servlet-class>kz.bgm.platform.web.admin.action.UploadReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>downloadCatalogInCsv</servlet-name>
        <servlet-class>kz.bgm.platform.web.admin.action.DownloadCatalogCsv</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>customerLoginServlet</servlet-name>
        <url-pattern>/customer-logon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>customerDispatcher</servlet-name>
        <url-pattern>/customer/view/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchServlet</servlet-name>
        <url-pattern>/customer/action/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadReportServlet</servlet-name>
        <url-pattern>/customer/action/upload-report</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>customerLogoutServlet</servlet-name>
        <url-pattern>/customer/action/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteCustomerServlet</servlet-name>
        <url-pattern>/admin/action/delete-customer</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>putToBasketServlet</servlet-name>
        <url-pattern>/customer/action/add-to-basket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>removeFromBasket</servlet-name>
        <url-pattern>/customer/action/remove-from-basket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>removeFromReport</servlet-name>
        <url-pattern>/customer/action/remove-from-report</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>downloadBasketReportServlet</servlet-name>
        <url-pattern>/customer/action/basket-report</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>jsonRemoveFromReportServlet</servlet-name>
        <url-pattern>/customer/api/remove-from-report</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>acceptReportServlet</servlet-name>
        <url-pattern>/customer/action/accept-report</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>activityServlet</servlet-name>
        <url-pattern>admin/action/dbActivityServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editTrackServlet</servlet-name>
        <url-pattern>admin/action/update-track</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>catalogIdServlet</servlet-name>
        <url-pattern>admin/action/get-id</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadReports</servlet-name>
        <url-pattern>admin/action/upload-report</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>downloadCatalogInCsv</servlet-name>
        <url-pattern>admin/action/download-catalog</url-pattern>
    </servlet-mapping>



    <context-param>
        <param-name>tmp-sql-file</param-name>
        <param-value>/tmp</param-value>
    </context-param>

</web-app>
